Python Library/pythonnanorc.egg-info/dependency_links.txt
Python Library/pythonnanorc.egg-info/PKG-INFO
Python Library/pythonnanorc.egg-info/requires.txt
Python Library/pythonnanorc.egg-info/SOURCES.txt
Python Library/pythonnanorc.egg-info/top_level.txt
